<div class="container">
  <select name="" id="" [(ngModel)]="ambient">
    <option value="dev">DEV</option>
    <option value="uat">UAT</option>
  </select>

  <div class="main">
    <!-- <div class="label">Ingresar token:</div> -->
    <textarea
      name=""
      [(ngModel)]="token"
      cols="70"
      rows="15"
      placeholder="Ingresar token"
      style="
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        padding: 0.2rem;
      "
    ></textarea>
    <br />
  </div>
  <div class="actions">
    <button (click)="openMF('fdc-mf-validation')">Documentos</button>
    <button (click)="openMF('fdc-mf-videosignature')">Video firma</button>
    <button
      id="cleanToken"
      (click)="cleanToken()"
      style="background-color: grey"
    >
      Limpiar
    </button>
  </div>
</div>

<fdc-mf-validation
  *ngIf="token && url && active && microfront === 'fdc-mf-validation'"
  [token]="token"
  [url]="url"
  (response)="response($event)"
  (close)="close($event)"
>
</fdc-mf-validation>
<fdc-mf-videosignature
  *ngIf="token && url && active && microfront === 'fdc-mf-videosignature'"
  [token]="token"
  [url]="url"
  (response)="response($event)"
  (close)="close($event)"
>
</fdc-mf-videosignature>
